<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Dashboard</title>
</head>
<body>
    <h1>All Users</h1>
    <a href="/logout">Click here to Logout!</a>
    <br>
    <a href="/users/edit">Edit your profile!</a>
    <br>
    <table>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>DATE CREATED</th>
            <th>USER LEVEL</th>
        </tr>
        {% for each in users%}
            <tr>
                <th>{{each.id}}</th>
                <th><a href="/users/show/{{each.id}}">{{each.first_name}}</a></th>
                <th>{{each.created_at}}</th>
                <th>
                    {% if each.user_level == 0 %} Normal {% endif %}
                    {%if each.user_level == 9 %} Admin {% endif %}
                </th>
            </tr>
        {% endfor %}
    </table>
</body>
</html>